{#
  Title: Block: Content
  Description: A pcontent block with title, introduction, link (in/out)
#}

{% import "macros/styles.macro.twig" as _style %}

{% set header_classes = "hero-header mb-12 text-lg leading-tight lg:text-xl mt-12 lg:mt-0" %}
{% set intro_classes = "hero-intro " ~ ( content.link ? "mb-12" : "") %}
{% set block_classes = "" %}

{% if parent_is == "section_three-columns" %}
	{% set header_classes = (content.is_wider ? "hero-header lg:text-xl text-lg leading-none" : "text-lg underline" ) ~ " flex-grow-0 mb-12" %}
	{% set intro_classes = "hero-intro flex-grow" ~ ( content.link ? " mb-12" : "") %}
	{% set block_classes = " flex flex-col justify-start h-full" %}
{% endif %}


<div
	class="block-content-wrapper text-left{{ block_classes }}">
	<!-- block: content-block {{parent_is}} -->
	{% if content.title %}
		{% set offsets = content.offsets_of.title %}
		{% set style = "" 	~ 'style="' 
							~ _style.single("font-size", (content.title_font_size ? content.title_font_size / 100 : false), "rem") 
							~ _style.single("font-color", content.title_text_color, "")
							~ _style.single("margin-top", offsets.margins.top)
							~ _style.single("margin-right", offsets.margins.right)
							~ _style.single("margin-bottom", offsets.margins.bottom)
							~ _style.single("margin-left", offsets.margins.left)
							~ _style.single("pading-top", offsets.padings.top)
							~ _style.single("pading-right", offsets.padings.right)
							~ _style.single("pading-bottom", offsets.padings.bottom)
							~ _style.single("pading-left", offsets.padings.left)
							~ '"'
		%}
		<h2 class="block-content-title font-bold w-4/5 md:h-24 h-auto {{ header_classes }}" {{style}}>{{ content.title }}</h2>
	{% endif %}
	{% if content.introduction %}
		{% set offsets = content.offsets_of.introduction %}
		{% set style = "" 	~ 'style="' 
							~ _style.single("font-size", (content.introduction_font_size ? content.introduction_font_size / 100 : false), "rem") 
							~ _style.single("font-color", content.title_text_color, "")
							~ _style.single("margin-top", offsets.margins.top)
							~ _style.single("margin-right", offsets.margins.right)
							~ _style.single("margin-bottom", offsets.margins.bottom)
							~ _style.single("margin-left", offsets.margins.left)
							~ _style.single("pading-top", offsets.padings.top)
							~ _style.single("pading-right", offsets.padings.right)
							~ _style.single("pading-bottom", offsets.padings.bottom)
							~ _style.single("pading-left", offsets.padings.left)
							~ '"'
		%}
		<div class="block-content-intro {{ intro_classes }}" {{style}}>{{ content.introduction }}</div>
	{% endif %}
	{% if content.link %}
		{% set offsets = content.offsets_of.introduction %}
		{% set style = "" 	~ 'style="' 
							~ _style.single("font-size", (content.link_font_size ? content.link_font_size / 100 : false), "rem") 
							~ _style.single("font-color", content.link_text_color, "")
							~ _style.single("margin-top", offsets.margins.top)
							~ _style.single("margin-right", offsets.margins.right)
							~ _style.single("margin-bottom", offsets.margins.bottom)
							~ _style.single("margin-left", offsets.margins.left)
							~ _style.single("pading-top", offsets.padings.top)
							~ _style.single("pading-right", offsets.padings.right)
							~ _style.single("pading-bottom", offsets.padings.bottom)
							~ _style.single("pading-left", offsets.padings.left)
							~ '"'
		%}
		<a href="{{ content.link.url }}" target="{{ content.link.target ?: "_self" }}" class="lowercase underline hero-intro justify-self-end flex-grow-0 pt-4" {{style}}>
			{{ content.link.title ?: "read more" }}
		</a>
	{% endif %}
	{% if content.image.image %}
		{% include "blocks/image-block.twig" with { 'image': content.image } %}
	{% endif %}
	<!-- //block: content-block - {{parent_is}} - {{ content.image.image }} -->
</div>
