{% if menu.footer %}
	<ul class="flex flex-col md:flex-row flex-nowrap justify-items-center md:justify-items-stretch justify-end h-full">
		{% for item in items %}
			<li class="{{ item.classes | join(' ') }} {{ loop.first ? "pl-0 pr-0 md:pr-12" : loop.last ? "pr-0 pl-0 md:pl-12" : "px-0 md:px-12" }}">
				<a target="{{ item.target }}" href="{{ item.link }}" class="h-full flex flex-wrap justify-center px-1 text-gray-300 hover:text-gray-500 whitespace-nowrap">{{ item.title }}</a>
				{% if item.children %}
					{% include "menu.twig" with {'items': item.children} %}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
