{#
  Title: Section
  Description: A wrapper for sections
#}

{% set background_color = "background-color: #{section.section_bg_color ?: 'transparent'}; " %}
{% set background_image = section.section_bg_image ? "background: #{section.section_bg_color} url(#{section.section_bg_image}) no-repeat top center; background-size: cover; " : "" %}
{# {% set background_parallax = " --bg-parallax-image: url(#{section.section_bg_image});" %} #}
{% set text_color       = section.section_txt_color ? "color: #{section.section_txt_color}; " : "" %}
{% set margin_top       = section.section_margin_top ? "margin-top: #{section.section_margin_top}px; " : "" %}
{% set margin_bottom    = section.section_margin_bottom ? "margin-bottom: #{section.section_margin_bottom}px; " : "" %}
{% set padding_top      = section.section_padding_top ? "padding-top: #{section_index in [0] ? section.section_padding_top + 96 : section.section_padding_top}px; " : "" %}
{% set padding_bottom   = section.section_padding_bottom ? "padding-bottom: #{section.section_padding_bottom}px; " : "" %}

<section class="section section-{{ section.section_type }} relative flex justify-center items-center w-full text-center py-20 {{ section_index in [0] ? " pt-24" : " " }}" style="{{text_color}}{{background_image ?: background_color}}{{margin_top}}{{margin_bottom}}{{padding_top}}{{padding_bottom}}">
	<div class="md:container lg:px-0 md:px-6 px-12">
		{% if section.section_type in ['hero', 'three_columns', 'two_rows', 'big_image_below', 'contact_form', 'map', 'simple'] %}
			{% include "sections/section-#{section.section_type}.twig" with { animation_on: section_index > 1 }%}
		{% else %}
			<p>Here will be section
				{{ section.section_type }}! Be patient...</p>
		{% endif %}
	</div>
</section>
